.card-wrapper {
    padding: 60px 0;
    background: 
        linear-gradient(80deg, var(--bgStrong), var(--bg), var(--bgStrong)),
        linear-gradient(135deg, var(--bgStrong), var(--bg), var(--bgStrong)),
        linear-gradient(195deg, var(--bgStrong), var(--bg), var(--bgStrong));
}


.background-video {
  position: absolute;
  top: 0;
  right: -20px;
  width: 105%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.card-wrapper h2 {
    margin-bottom: 45px;
}

.card-wrapper .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
  padding-left: 30px;
}
.card-wrapper .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.card-wrapper .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.card-wrapper .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.card-wrapper .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 72px));
  -webkit-transform: translateY(calc(100% - 72px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.card-wrapper .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.card-wrapper .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.card-wrapper .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.card-wrapper .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

.card-wrapper .owl-theme.custom-carousel .owl-dots .owl-dot {
    width: 24px;
    position: relative;
  }

/***** responsive css Start ******/

@media (min-width: 1830px) {

    .card-wrapper .owl-stage {
        margin: auto;
    }
    .owl-dots {
        display: none;
    }
    .card-wrapper h2 {
        margin: 100px;
    }
  }

@media (min-width: 992px) and (max-width: 1199px) {
  .card-wrapper {
    padding: 50px 0;
  }
  .card-wrapper .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .card-wrapper .item.active {
    width: 400px;
  }
  .card-wrapper .item-desc {
    transform: translateY(calc(100% - 68px));
    -webkit-transform: translateY(calc(100% - 68px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card-wrapper {
    padding: 50px 0 40px;
  }
  .card-wrapper .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .card-wrapper .item.active {
    width: 360px;
  }
  .card-wrapper .item-desc {
    transform: translateY(calc(100% - 64px));
    -webkit-transform: translateY(calc(100% - 64px));
  }
}

@media (max-width: 767px) {
  .card-wrapper {
    padding: 30px 0 20px;
  }
  .card-wrapper .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .card-wrapper .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .card-wrapper .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 64px));
    -webkit-transform: translateY(calc(100% - 64px));
  }
  .card-wrapper .owl-stage {
    padding-left: 20px;
  }
}
