footer {
    background-color: var(--primaryBgTint);
    z-index: 9;
    width: 100%;
}

footer {
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 3rem;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
}

footer span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer span:nth-of-type(4) {
    position: absolute!important;
    left: 48px;
}

footer span svg {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    fill: white;
    stroke: currentColor;
}

footer span:nth-of-type(2) a svg {
    margin-left: 0.25rem;
}

footer span:nth-of-type(1) a svg {
    margin-right: 0.5rem;
}

footer span a {
    color: #fafafa;
    text-decoration: none;
}

footer span a:hover {
    color: var(--primaryOnContrastText);
}


@media (max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 40px;
        height: auto;
        padding-top: 64px;
    }

    footer span:nth-of-type(4) {
        position: relative!important;
        left: 0!important;
    }
}