header.at-top {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--bg)!important;
    backdrop-filter: blur(0px);
    top: 0!important;
    height: 70px!important;
    nav a {
        color: var(--text)!important;
    }
    nav a:hover {
        color: var(--button-color)!important;
    }
}

header.not-at-top {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 40px;
    width: calc(100% - 32px);
    nav {
        padding: 0rem calc(3rem - 16px);
    }
    #progress-bar {
        background-color: var(--OnprimaryText);
        height: 3px;
}
}

/* FIX: Prevent flickering when stopping at the threshold */
body:has(header.at-top) {
    padding-top: 0px; /* Avoid shifting content */
}

body:has(header.not-at-top) {
    padding-top: 22px; /* Ensures a smooth transition */
}

body:has(header.at-top),
body:has(header.not-at-top) {
    transition: padding-top 0s !important; /* Instant padding change */
}

header {
    margin: 0 auto;
    overflow: hidden;
    height: 46px;
    top: 12px;
    opacity: 1;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    z-index: 100;

    width: 100%;

    transition: backdrop-filter 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    backdrop-filter: blur(14px);
    background-color: var(--header);
    nav a {
        color: var(--textInverse);
    }
}

header.scrolled {
    background-color: var(--header-scrolled);
    opacity: .7;
    nav a {
        color: var(--text);
    }
    #progress-bar {
            background-color: var(--button-color)!important;
    }
}

header:hover {
    opacity: 1;
    background-color: var(--header-hover);
    nav a {
        color: var(--textInverse);
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    height: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li {
    display: inline;
}

a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--nav-a-hover);
}

.logo {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
}

.short-logo {
    display: none; /* Hide 'F' by default */
}

@media (max-width: 565px) {
    .full-logo {
        display: none; /* Hide full name on small screens */
    }
    .short-logo {
        display: inline; /* Show 'F' on small screens */
    }
}

#progress-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    transition: width 0.1s linear;
}

