
section .text {
    max-width: 500px;
}

section .image img {
    max-width: 100%;
    height: auto;
}

section .text, section .image {
    flex: 1;
}

.image-text{
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 120px;
    padding-right: 120px;
    gap: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image-text {
    flex-direction: row;
    max-width: 1550px;
    margin: 0 auto
}

.image-text text .secondary-btn {
    padding: 0px!important;
}

/*
.image-text:not(:has(.figma-frame-wrapper)):nth-of-type(2n) {
  flex-direction: row-reverse;
  padding-right: 120px;
  padding-left: 120px;
} */

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .image-text{
        padding-left: 75px;
        padding-right: 75px;
        gap: 40px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .image-text:nth-of-type(5n) {
        padding-bottom: 50px;
    }
    .image-text .image {
        max-width: 480px;
    }
}

@media (max-width: 768px) {
    .image-text {
        flex-direction: column!important;
        gap: 10px;
        padding-bottom: 40px;
    }

    .image-text .text p {
        margin-top: 8px;

    }

    .image-text .text, .image-text .image {
        max-width: calc(100vw - 40px);
        min-width: calc(100vw - 60px);
    }
    
    /*
    .image-text:nth-of-type(1n) .image {
        margin-bottom: -75px;
    }

    .image-text:nth-of-type(2n) .image {
        margin-bottom: -10px;
    }

    .image-text:nth-of-type(5n) .image {
        margin-bottom: -75px;
    }

    .image-text:nth-of-type(5n) {
        margin-top: -45px;
    } */
}
