/* MUI color palette - used as reference and exploration */ 
:root {
    --refMuiColorBlueGrey900: #263238;
    --refMuiColorBlueGrey800: #37474f;
    --refMuiColorBlueGrey700: #455a64;
    --refMuiColorBlueGrey600: #546e7a;
    --refMuiColorBlueGrey500: #607d8b;
    --refMuiColorBlueGrey400: #78909c;
    --refMuiColorBlueGrey300: #90a4ae;
    --refMuiColorBlueGrey200: #b0bec5;
    --refMuiColorBlueGrey100: #cfd8dc;
    --refMuiColorBlueGrey50: #eceff1;
    --refMuiColorBlueA700: #2962ff;
    --refMuiColorBlueA400: #2979ff;
    --refMuiColorBlueA200: #448aff;
    --refMuiColorBlueA100: #82b1ff;
    --refMuiColorBlue900: #0d47a1;
    --refMuiColorBlue800: #1565c0;
    --refMuiColorBlue700: #0057b2;
    --refMuiColorBlue600: #1e88e5;
    --refMuiColorBlue500: #2196F3;
    --refMuiColorBlue400: #42a5f5;
    --refMuiColorBlue200: #90caf9;
    --refMuiColorBlue100: #bbdefb;
    --refMuiColorBlue50: #e3f2fd;
    --refMuiColorTealA700: #00bfa5;
    --refMuiColorTealA400: #1de9b6;
    --refMuiColorTealA200: #64ffda;
    --refMuiColorTealA100: #a7ffeb;
    --refMuiColorTeal900: #004d40;
    --refMuiColorTeal800: #00695c;
    --refMuiColorTeal700: #00796b;
    --refMuiColorTeal600: #00897b;
    --refMuiColorTeal500: #009688;
    --refMuiColorTeal400: #26a69a;
    --refMuiColorTeal300: #4db6ac;
    --refMuiColorTeal200: #80cbc4;
    --refMuiColorTeal100: #b2dfdb;
    --refMuiColorTeal50: #e0f2f1;
    --refMuiColorCyanA700: #00b8d4;
    --refMuiColorCyanA400: #00e5ff;
    --refMuiColorCyanA200: #18ffff;
    --refMuiColorCyanA100: #84ffff;
    --refMuiColorCyan900: #006064;
    --refMuiColorCyan800: #00838f;
    --refMuiColorCyan700: #0097a7;
    --refMuiColorCyan600: #00acc1;
    --refMuiColorCyan500: #00bcd4;
    --refMuiColorCyan400: #26c6da;
    --refMuiColorCyan300: #4dd0e1;
    --refMuiColorCyan200: #80deea;
    --refMuiColorCyan100: #b2ebf2;
    --refMuiColorCyan50: #e0f7fa;
    --refMuiColorYellowA700: #ffd600;
    --refMuiColorYellowA400: #ffea00;
    --refMuiColorYellowA200: #ffff00;
    --refMuiColorYellowA100: #ffff8d;
    --refMuiColorYellow900: #f57f17;
    --refMuiColorYellow800: #f9a825;
    --refMuiColorYellow700: #fbc02d;
    --refMuiColorYellow600: #fdd835;
    --refMuiColorYellow500: #ffeb3b;
    --refMuiColorYellow400: #ffee58;
    --refMuiColorYellow300: #fff176;
    --refMuiColorYellow200: #fff59d;
    --refMuiColorYellow100: #fff9c4;
    --refMuiColorYellow50: #fffde7;
    --refMuiColorLightBlueA700: #0091ea;
    --refMuiColorLightBlueA400: #00b0ff;
    --refMuiColorLightBlueA200: #40c4ff;
    --refMuiColorLightBlueA100: #80d8ff;
    --refMuiColorLightBlue900: #01579b;
    --refMuiColorLightBlue800: #0277bd;
    --refMuiColorLightBlue700: #0288d1;
    --refMuiColorLightBlue600: #039be5;
    --refMuiColorLightBlue500: #03a9f4;
    --refMuiColorLightBlue400: #29b6f6;
    --refMuiColorLightBlue300: #4fc3f7;
    --refMuiColorLightBlue200: #81d4fa;
    --refMuiColorLightBlue100: #b3e5fc;
    --refMuiColorLightBlue50: #e1f5fe;
    --refMuiColorLimeA700: #aeea00;
    --refMuiColorLimeA400: #c6ff00;
    --refMuiColorLimeA200: #eeff41;
    --refMuiColorLimeA100: #f4ff81;
    --refMuiColorLime900: #827717;
    --refMuiColorLime800: #9e9d24;
    --refMuiColorLime700: #afb42b;
    --refMuiColorLime600: #c0ca33;
    --refMuiColorLime500: #cddc39;
    --refMuiColorLime400: #d4e157;
    --refMuiColorLime300: #dce775;
    --refMuiColorLime200: #e6ee9c;
    --refMuiColorLime100: #f0f4c3;
    --refMuiColorLime50: #f9fbe7;
    --refMuiColorPurpleA700: #aa00ff;
    --refMuiColorPurpleA400: #d500f9;
    --refMuiColorPurpleA200: #e040fb;
    --refMuiColorPurpleA100: #ea80fc;
    --refMuiColorPurple900: #4a148c;
    --refMuiColorPurple800: #6a1b9a;
    --refMuiColorPurple700: #7b1fa2;
    --refMuiColorPurple600: #8e24aa;
    --refMuiColorPurple500: #9c27b0;
    --refMuiColorPurple400: #ab47bc;
    --refMuiColorPurple300: #ba68c8;
    --refMuiColorPurple200: #ce93d8;
    --refMuiColorPurple100: #e1bee7;
    --refMuiColorPurple50: #f3e5f5;
    --refMuiColorLightGreenA700: #64dd17;
    --refMuiColorLightGreenA400: #76ff03;
    --refMuiColorLightGreenA200: #b2ff59;
    --refMuiColorLightGreenA100: #ccff90;
    --refMuiColorLightGreen900: #33691e;
    --refMuiColorLightGreen800: #558b2f;
    --refMuiColorLightGreen700: #689f38;
    --refMuiColorLightGreen600: #7cb342;
    --refMuiColorLightGreen500: #8bc34a;
    --refMuiColorLightGreen400: #8bc34a;
    --refMuiColorLightGreen300: #aed581;
    --refMuiColorLightGreen200: #c5e1a5;
    --refMuiColorLightGreen100: #dcedc8;
    --refMuiColorLightGreen50: #f1f8e9;
    --refMuiColorRedA700: #d50000;
    --refMuiColorRedA400: #ff1744;
    --refMuiColorRedA200: #ff5252;
    --refMuiColorRedA100: #ff8a80;
    --refMuiColorRed900: #b71c1c;
    --refMuiColorRed800: #c62828;
    --refMuiColorRed700: #d32f2f;
    --refMuiColorRed600: #e53935;
    --refMuiColorRed500: #f44336;
    --refMuiColorRed400: #ef5350;
    --refMuiColorRed300: #e57373;
    --refMuiColorRed200: #ef9a9a;
    --refMuiColorRed100: #fecdd2;
    --refMuiColorRed50: #feebee;
    --refMuiColorGreenA700: #00c853;
    --refMuiColorGreenA400: #00e676;
    --refMuiColorGreenA200: #69f0ae;
    --refMuiColorGreenA100: #b9f6ca;
    --refMuiColorGreen900: #1b5e20;
    --refMuiColorGreen800: #2e7d32;
    --refMuiColorGreen700: #388e3c;
    --refMuiColorGreen600: #43a047;
    --refMuiColorGreen500: #4caf50;
    --refMuiColorGreen400: #66bb6a;
    --refMuiColorGreen300: #81c784;
    --refMuiColorGreen200: #a5d6a7;
    --refMuiColorGreen100: #c8e6c9;
    --refMuiColorGreen50: #e8f5e9;
    --refMuiColorDeepOrangeA700: #dd2c00;
    --refMuiColorDeepOrangeA400: #ff3d00;
    --refMuiColorDeepOrangeA200: #ff6e40;
    --refMuiColorDeepOrangeA100: #ff9e80;
    --refMuiColorDeepOrange900: #bf360c;
    --refMuiColorDeepOrange800: #d84315;
    --refMuiColorDeepOrange700: #e64a19;
    --refMuiColorDeepOrange600: #f4511e;
    --refMuiColorDeepOrange500: #ff5722;
    --refMuiColorDeepOrange400: #ff7043;
    --refMuiColorDeepOrange300: #ff8a65;
    --refMuiColorDeepOrange200: #ffab91;
    --refMuiColorDeepOrange100: #ffccbc;
    --refMuiColorDeepOrange50: #fbe9e7;
    --refMuiColorPinkA700: #c51162;
    --refMuiColorPinkA400: #f50057;
    --refMuiColorPinkA200: #ff4081;
    --refMuiColorPinkA100: #ff80ab;
    --refMuiColorPink900: #880e4f;
    --refMuiColorPink800: #ad1457;
    --refMuiColorPink700: #c2185b;
    --refMuiColorPink600: #d81b60;
    --refMuiColorPink500: #e91e63;
    --refMuiColorPink400: #ec407a;
    --refMuiColorPink300: #f06292;
    --refMuiColorPink200: #f48fb1;
    --refMuiColorPink100: #f8bbd0;
    --refMuiColorPink50: #fce4ec;
    --refMuiColorOrangeA700: #ff6d00;
    --refMuiColorOrangeA400: #ff9100;
    --refMuiColorOrangeA200: #ffab40;
    --refMuiColorOrangeA100: #ffd180;
    --refMuiColorOrange900: #e65100;
    --refMuiColorOrange800: #ef6c00;
    --refMuiColorOrange700: #f57c00;
    --refMuiColorOrange600: #fb8c00;
    --refMuiColorOrange500: #ff9800;
    --refMuiColorOrange400: #ffa726;
    --refMuiColorOrange300: #ffb74d;
    --refMuiColorOrange200: #ffcc80;
    --refMuiColorOrange100: #ffe0b2;
    --refMuiColorOrange50: #fff3e0;
    --refMuiColorAmberA700: #ffab00;
    --refMuiColorAmberA400: #ffc400;
    --refMuiColorAmberA200: #ffd740;
    --refMuiColorAmberA100: #ffe57f;
    --refMuiColorAmber900: #ff6f00;
    --refMuiColorAmber800: #ff8f00;
    --refMuiColorAmber700: #ffa000;
    --refMuiColorAmber600: #ffb300;
    --refMuiColorAmber500: #ffc107;
    --refMuiColorAmber400: #ffca28;
    --refMuiColorAmber300: #ffd54f;
    --refMuiColorAmber50: #fff8e1;
    --refMuiColorDeepPurpleA700: #6200ea;
    --refMuiColorDeepPurpleA400: #651fff;
    --refMuiColorDeepPurpleA200: #7c4dff;
    --refMuiColorDeepPurpleA100: #b388ff;
    --refMuiColorDeepPurple900: #311b92;
    --refMuiColorDeepPurple800: #4527a0;
    --refMuiColorDeepPurple700: #512da8;
    --refMuiColorDeepPurple600: #5e35b1;
    --refMuiColorDeepPurple500: #673ab7;
    --refMuiColorDeepPurple400: #7e57c2;
    --refMuiColorDeepPurple300: #9575cd;
    --refMuiColorDeepPurple200: #b39ddb;
    --refMuiColorDeepPurple100: #d1c4e9;
    --refMuiColorDeepPurple50: #ede7f6;
    --refMuiColorIndigoA700: #304ffe;
    --refMuiColorIndigoA400: #3d5afe;
    --refMuiColorIndigoA200: #536dfe;
    --refMuiColorIndigoA100: #8c9eff;
    --refMuiColorIndigo900: #1a237e;
    --refMuiColorIndigo800: #283593;
    --refMuiColorIndigo700: #303f9f;
    --refMuiColorIndigo600: #3949ab;
    --refMuiColorIndigo500: #3f51b5;
    --refMuiColorIndigo400: #5c6bc0;
    --refMuiColorIndigo300: #7986cb;
    --refMuiColorIndigo200: #9fa8da;
    --refMuiColorIndigo100: #c5cae9;
    --refMuiColorIndigo50: #e8eaf6;
    --refMuiColorGreyA700: #303030;
    --refMuiColorGreyA400: #616161;
    --refMuiColorGreyA200: #aaaaaa;
    --refMuiColorGreyA100: #d5d5d5;
    --refMuiColorGrey900: #212121;
    --refMuiColorGrey800: #424242;
    --refMuiColorGrey700: #616161;
    --refMuiColorGrey600: #757575;
    --refMuiColorGrey500: #9e9e9e;
    --refMuiColorGrey400: #bdbdbd;
    --refMuiColorGrey300: #e0e0e0;
    --refMuiColorGrey200: #eeeeee;
    --refMuiColorGrey100: #f5f5f5;
    --refMuiColorGrey50: #fafafa;
}
 