/* Yubico color palette - used as reference and exploration */ 
:root {
    --refYdsColorCreativeNewDarkTeal: #005572;
    --refYdsColorYellow900: #4d3e00;
    --refYdsColorYellow800: #846900;
    --refYdsColorYellow700: #a78500;
    --refYdsColorYellow600: #c09c0c;
    --refYdsColorYellow500: #ceb140;
    --refYdsColorYellow400: #d9c36c;
    --refYdsColorYellow300: #e3d393;
    --refYdsColorYellow200: #ece1b5;
    --refYdsColorYellow100: #f4eed5;
    --refYdsColorYellow50: #fbf9f1;
    --refYdsColorOrange900: #752300;
    --refYdsColorOrange800: #c0410b;
    --refYdsColorOrange700: #cf6f45;
    --refYdsColorOrange600: #d98d6d;
    --refYdsColorOrange500: #e1a58c;
    --refYdsColorOrange400: #e8baa6;
    --refYdsColorOrange300: #eeccbd;
    --refYdsColorOrange200: #f3dcd2;
    --refYdsColorOrange100: #f8ebe5;
    --refYdsColorOrange50: #fdf9f7;
    --refYdsColorRed900: #84001b;
    --refYdsColorRed800: #c92f4e;
    --refYdsColorRed700: #d7647b;
    --refYdsColorRed600: #e08698;
    --refYdsColorRed500: #e6a0ae;
    --refYdsColorRed400: #ecb6c1;
    --refYdsColorRed300: #f1c9d1;
    --refYdsColorRed200: #f5dae0;
    --refYdsColorRed100: #f9eaed;
    --refYdsColorRed50: #fdf8f9;
    --refYdsColorPink900: #7c0057;
    --refYdsColorPink800: #c51f93;
    --refYdsColorPink700: #d55cb1;
    --refYdsColorPink600: #de80c2;
    --refYdsColorPink500: #e59ccf;
    --refYdsColorPink400: #ebb3da;
    --refYdsColorPink300: #f0c7e4;
    --refYdsColorPink200: #f5d9ed;
    --refYdsColorPink100: #f9e9f4;
    --refYdsColorPink50: #fdf8fc;
    --refYdsColorFuschia900: #6d0088;
    --refYdsColorFuschia800: #ab30c9;
    --refYdsColorFuschia700: #bf63d7;
    --refYdsColorFuschia600: #cd85df;
    --refYdsColorFuschia500: #d89fe6;
    --refYdsColorFuschia400: #e1b5ec;
    --refYdsColorFuschia300: #e9c8f1;
    --refYdsColorFuschia200: #f0daf5;
    --refYdsColorFuschia100: #f6e9f9;
    --refYdsColorFuschia50: #fcf8fd;
    --refYdsColorViolet900: #3f08bf;
    --refYdsColorViolet800: #7a53d3;
    --refYdsColorViolet700: #9678dc;
    --refYdsColorViolet600: #ab93e3;
    --refYdsColorViolet500: #bca9e9;
    --refYdsColorViolet400: #cbbcee;
    --refYdsColorViolet300: #d9cdf2;
    --refYdsColorViolet200: #e5ddf6;
    --refYdsColorViolet100: #f0ebfa;
    --refYdsColorViolet50: #faf9fd;
    --refYdsColorIndigo900: #0026bc;
    --refYdsColorIndigo800: #4964d0;
    --refYdsColorIndigo700: #6f84da;
    --refYdsColorIndigo600: #8c9de1;
    --refYdsColorIndigo500: #a3b1e7;
    --refYdsColorIndigo400: #b8c2ed;
    --refYdsColorIndigo300: #cad2f1;
    --refYdsColorIndigo200: #dbe0f6;
    --refYdsColorIndigo100: #eaedfa;
    --refYdsColorIndigo50: #f8f9fd;
    --refYdsColorCyan900: #00483a;
    --refYdsColorCyan800: #007b62;
    --refYdsColorCyan700: #009b7c;
    --refYdsColorCyan600: #00b590;
    --refYdsColorCyan500: #2dc9a9;
    --refYdsColorCyan400: #64d7c0;
    --refYdsColorCyan300: #90e2d2;
    --refYdsColorCyan200: #b4ece1;
    --refYdsColorCyan100: #d5f4ee;
    --refYdsColorCyan50: #f2fcfa;
    --refYdsColorTeal900: #004a16;
    --refYdsColorTeal800: #007e26;
    --refYdsColorTeal700: #009f30;
    --refYdsColorTeal600: #00b938;
    --refYdsColorTeal500: #3acc66;
    --refYdsColorTeal400: #6dd98e;
    --refYdsColorTeal300: #96e4ae;
    --refYdsColorTeal200: #b9edc9;
    --refYdsColorTeal100: #d7f5e0;
    --refYdsColorTeal50: #f2fcf5;
    --refYdsColorGreen900: #0f4a00;
    --refYdsColorGreen800: #197d00;
    --refYdsColorGreen700: #209f00;
    --refYdsColorGreen600: #25b900;
    --refYdsColorGreen500: #55cb37;
    --refYdsColorGreen400: #80d86a;
    --refYdsColorGreen300: #a4e394;
    --refYdsColorGreen200: #c2ecb7;
    --refYdsColorGreen100: #dcf4d6;
    --refYdsColorGreen50: #f4fcf2;
    --refYdsColorBlue900: #004461;
    --refYdsColorBlue800: #0073a5;
    --refYdsColorBlue700: #1e92c5;
    --refYdsColorBlue600: #4faad1;
    --refYdsColorBlue500: #75bcdb;
    --refYdsColorBlue400: #95cce3;
    --refYdsColorBlue300: #b1d9eb;
    --refYdsColorBlue200: #cae5f1;
    --refYdsColorBlue100: #e0f0f7;
    --refYdsColorBlue50: #f5fafc;
    --refYdsColorNeutralBlack: #000000;
    --refYdsColorNeutralWhite: #ffffff;
    --refYdsColorNeutral1000: #222222;
    --refYdsColorNeutral950: #2c2c2c;
    --refYdsColorNeutral900: #333333;
    --refYdsColorNeutral800: #4A4A4A;
    --refYdsColorNeutral700: #6d6d6d;
    --refYdsColorNeutral600: #939292;
    --refYdsColorNeutral500: #bebebe;
    --refYdsColorNeutral300: #D8D8D8;
    --refYdsColorNeutral100: #EDF0F2;
    --refYdsColorNeutral50: #F9FAFB;
    --refYdsColorWarmgray900: #3d4133;
    --refYdsColorWarmgray800: #686f59;
    --refYdsColorWarmgray700: #868b79;
    --refYdsColorWarmgray600: #9da293;
    --refYdsColorWarmgray500: #b1b4a9;
    --refYdsColorWarmgray400: #c2c5bc;
    --refYdsColorWarmgray300: #d2d4cd;
    --refYdsColorWarmgray200: #e0e1dd;
    --refYdsColorWarmgray100: #edeeeb;
    --refYdsColorWarmgray50: #f9f9f9;
    --refYdsColorLime900: #314600;
    --refYdsColorLime800: #537700;
    --refYdsColorLime750: #5C8211;
    --refYdsColorLime700: #699700;
    --refYdsColorLime600: #7BAF00;
    --refYdsColorLime550: #84BD00;
    --refYdsColorLime500: #8FC317;
    --refYdsColorLime450: #9aca3c; /* YubiGreen */
    --refYdsColorLime400: #AAD24F;
    --refYdsColorLime300: #C1DE7F;
    --refYdsColorLime200: #D5E9A8;
    --refYdsColorLime100: #E7F2CD;
    --refYdsColorLime50: #F3F8E6;
    --refYdsColorYBookYubilightgray: #939292;
    --refYdsColorYBookYubidarkgray: #676767;
    --refYdsColorYBookYubilightblue: #83B9D6;
    --refYdsColorYBookYubibrightblue: #0080AC;
    --refYdsColorYBookYubired: #bf2029;
    --refYdsColorYBookYubigold: #e7c040;
    --refYdsColorYBookYubiblue: #325f74;
    --refYdsColorYBookYubigreen: #9aca3c;
}